## Deliverable 2. Create a Customer Travel Destinations Map.

In [35]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [5]:
# 1. Import the WeatherPy_database.csv file. 
city_data_new_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_new_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Itarema,BR,-2.9248,-39.9167,77.56,83,19,13.73,few clouds
1,1,Tura,IN,25.5198,90.2201,81.43,83,97,4.83,overcast clouds
2,2,Lebu,CL,-37.6167,-73.6500,42.69,79,1,5.53,clear sky
3,3,Yar-Sale,RU,66.8333,70.8333,46.36,86,100,13.87,overcast clouds
4,4,Port Elizabeth,ZA,-33.9180,25.5701,55.69,82,0,12.66,clear sky

In [6]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip 90

In [8]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_new_df.loc[(city_data_new_df["Max Temp"] <= max_temp) & \
                                       (city_data_new_df["Max Temp"] >= min_temp)].dropna()

preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Itarema,BR,-2.9248,-39.9167,77.56,83,19,13.73,few clouds
1,1,Tura,IN,25.5198,90.2201,81.43,83,97,4.83,overcast clouds
8,8,Atuona,PF,-9.8000,-139.0333,76.84,75,16,21.47,few clouds
15,15,Hit,IQ,33.6416,42.8251,86.23,21,0,7.70,clear sky
17,17,Kieta,PG,-6.2167,155.6333,81.66,83,98,7.07,moderate rain
20,20,Lorengau,PG,-2.0226,147.2712,84.18,70,97,6.69,overcast clouds
23,23,Bourail,NC,-21.5667,165.4833,80.78,57,0,3.24,clear sky
24,24,Avarua,CK,-21.2078,-159.7750,75.25,88,75,3.44,broken clouds
27,27,Meulaboh,ID,4.1363,96.1285,84.18,63,84,2.91,broken clouds
32,32,Carutapera,BR,-1.1950,-46.0200,75.49,87,89,5.59,overcast clouds

In [9]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                216
City                   216
Country                216
Lat                    216
Lng                    216
Max Temp               216
Humidity               216
Cloudiness             216
Wind Speed             216
Current Description    216
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
N/A

In [10]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Itarema,BR,77.56,few clouds,-2.9248,-39.9167,
1,Tura,IN,81.43,overcast clouds,25.5198,90.2201,
8,Atuona,PF,76.84,few clouds,-9.8000,-139.0333,
15,Hit,IQ,86.23,clear sky,33.6416,42.8251,
17,Kieta,PG,81.66,moderate rain,-6.2167,155.6333,
20,Lorengau,PG,84.18,overcast clouds,-2.0226,147.2712,
23,Bourail,NC,80.78,clear sky,-21.5667,165.4833,
24,Avarua,CK,75.25,broken clouds,-21.2078,-159.7750,
27,Meulaboh,ID,84.18,broken clouds,4.1363,96.1285,
32,Carutapera,BR,75.49,overcast clouds,-1.1950,-46.0200,

In [14]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

for index, row in hotel_df.iterrows():
    #Get the latitude and longitude.

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [16]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Itarema,BR,77.56,few clouds,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
1,Tura,IN,81.43,overcast clouds,25.5198,90.2201,Hotel RIKMAN Continental
8,Atuona,PF,76.84,few clouds,-9.8000,-139.0333,Hôtel Hiva Oa Hanakee Lodge
15,Hit,IQ,86.23,clear sky,33.6416,42.8251,المعلق حسان رزاق
17,Kieta,PG,81.66,moderate rain,-6.2167,155.6333,Uruna Bay Retreat
20,Lorengau,PG,84.18,overcast clouds,-2.0226,147.2712,Lorengau Harbourside Hotel
23,Bourail,NC,80.78,clear sky,-21.5667,165.4833,Motel Allamanda
24,Avarua,CK,75.25,broken clouds,-21.2078,-159.7750,Paradise Inn
27,Meulaboh,ID,84.18,broken clouds,4.1363,96.1285,Kost Pria
32,Carutapera,BR,75.49,overcast clouds,-1.1950,-46.0200,Lidera

In [29]:
hotel_df.count()

City                   216
Country                216
Max Temp               216
Current Description    216
Lat                    216
Lng                    216
Hotel Name             216
dtype: int64

In [44]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df["Hotel Name"].replace("",np.nan, inplace=True)
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Itarema,BR,77.56,few clouds,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
1,Tura,IN,81.43,overcast clouds,25.5198,90.2201,Hotel RIKMAN Continental
8,Atuona,PF,76.84,few clouds,-9.8000,-139.0333,Hôtel Hiva Oa Hanakee Lodge
15,Hit,IQ,86.23,clear sky,33.6416,42.8251,المعلق حسان رزاق
17,Kieta,PG,81.66,moderate rain,-6.2167,155.6333,Uruna Bay Retreat
...,...,...,...,...,...,...,...
673,Qeshm,IR,87.67,scattered clouds,26.9581,56.2719,Qeshm Kavan Hotel
674,Fort Smith,US,84.24,clear sky,35.3859,-94.3986,Hampton Inn Fort Smith
675,Amahai,ID,83.17,moderate rain,-3.3333,128.9167,HOTEL ISABELA
681,Weligama,LK,82.81,overcast clouds,5.9667,80.4167,Weligama Bay Resort
687,Auki,SB,78.73,overcast clouds,-8.7676,160.7034,Auki Motel

In [45]:
hotel_df.dropna(subset=["Hotel Name"], inplace=True)
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Itarema,BR,77.56,few clouds,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
1,Tura,IN,81.43,overcast clouds,25.5198,90.2201,Hotel RIKMAN Continental
8,Atuona,PF,76.84,few clouds,-9.8000,-139.0333,Hôtel Hiva Oa Hanakee Lodge
15,Hit,IQ,86.23,clear sky,33.6416,42.8251,المعلق حسان رزاق
17,Kieta,PG,81.66,moderate rain,-6.2167,155.6333,Uruna Bay Retreat
...,...,...,...,...,...,...,...
673,Qeshm,IR,87.67,scattered clouds,26.9581,56.2719,Qeshm Kavan Hotel
674,Fort Smith,US,84.24,clear sky,35.3859,-94.3986,Hampton Inn Fort Smith
675,Amahai,ID,83.17,moderate rain,-3.3333,128.9167,HOTEL ISABELA
681,Weligama,LK,82.81,overcast clouds,5.9667,80.4167,Weligama Bay Resort
687,Auki,SB,78.73,overcast clouds,-8.7676,160.7034,Auki Motel

In [46]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [64]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
""" 

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [65]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp= hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)


# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))