## Deliverable 3. Create a Travel Itinerary Map.

In [104]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [105]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Itarema,BR,77.56,few clouds,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
1,1,Tura,IN,81.43,overcast clouds,25.5198,90.2201,Hotel RIKMAN Continental
2,8,Atuona,PF,76.84,few clouds,-9.8000,-139.0333,Hôtel Hiva Oa Hanakee Lodge
3,15,Hit,IQ,86.23,clear sky,33.6416,42.8251,المعلق حسان رزاق
4,17,Kieta,PG,81.66,moderate rain,-6.2167,155.6333,Uruna Bay Retreat

In [106]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
""" 
# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [107]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp= vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [112]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Trairi")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Trairi")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Touros")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Olinda")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Severiano Melo")] 

vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
43,147,Trairi,BR,77.67,overcast clouds,-3.2778,-39.2689,janelas do mar

In [111]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = ([vacation_start.to_numpy()][0][0][5],[vacation_start.to_numpy()][0][0][6])
end = ([vacation_start.to_numpy()][0][0][5],[vacation_start.to_numpy()][0][0][6])
stop1 = ([vacation_stop1.to_numpy()][0][0][5],[vacation_stop1.to_numpy()][0][0][6])
stop2 = ([vacation_stop2.to_numpy()][0][0][5],[vacation_stop2.to_numpy()][0][0][6])
stop3 = ([vacation_stop3.to_numpy()][0][0][5],[vacation_stop3.to_numpy()][0][0][6])

print(start, end, stop1, stop2, stop3)

(-3.2778, -39.2689) (-3.2778, -39.2689) (-5.1989, -35.4608) (-8.0089, -34.8553) (-5.7772, -37.9578)

In [113]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
start2end = gmaps.directions_layer(
            start, end, waypoints=[stop1,stop2,stop3],
            travel_mode='DRIVING')                   
fig.add_layer(start2end)
fig

Figure(layout=FigureLayout(height='420px'))

In [115]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_end,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,147,Trairi,BR,77.67,overcast clouds,-3.2778,-39.2689,janelas do mar
1,147,Trairi,BR,77.67,overcast clouds,-3.2778,-39.2689,janelas do mar
2,239,Touros,BR,76.15,few clouds,-5.1989,-35.4608,INN NEW HORIZON
3,413,Olinda,BR,76.73,broken clouds,-8.0089,-34.8553,Flat Quatro Rodas Olinda
4,394,Severiano Melo,BR,76.05,scattered clouds,-5.7772,-37.9578,Chácara Bela Vista

In [117]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
""" 
# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [118]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
max_temp= itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))